:root {
    --brown: #F4F2F0;
    --green: #46B980;
    --radius: .2em;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: var(--brown);
}

p {
    margin: 1rem 0;
    transition: all .3s;
}

.container {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    width: 100%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    align-self: center;
}


/* Form */

input {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    border: .5px solid #E6E1DC;
    border-radius: var(--radius);
    font-family: inherit;
    transition: all .3s;
}

input:focus {
    outline: none;
}

.hide {
    display: none;
}
